# Python
__pycache__/
*.py[cod]
*$py.class

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Framework/tool caches
.vite/
.next/
.nuxt/
.turbo/
.parcel-cache/

# Tests / coverage
coverage/

# Local env files (não versionar segredos)
.env
.env.*
!.env.example

# Virtual environments
.env/
.venv/
env/
venv/

# Django
*.sqlite3
local_settings.py
*.log
staticfiles/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
